#one {
    width: 100cm;
    height: 100cm;
    background-color: aqua;
}

#two {
    width: 100mm;
    height: 100mm;
    background-color: burlywood;
}

#three {
    width: 100in;
    height: 100in;
    background-color: gray;
}

#four {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

#five {
    width: 100pt;
    height: 100pt;
    background-color: slateblue;
}

#six {
    width: 100pc;
    height: 100pc;
    background-color: rosybrown;
}

#seven {
    width: 100vw;
    height: 100vh;
    background-color: darkorange;
}

#eight {
    width: 100vw;
    height: 100vh;
    background-color:plum;
}

#nine {
    width: 100vw;
    height: 100vh;
    background-color: lawngreen;
}
